In [101]:
import pandas as pd
import json

In [102]:
lines = []
for line in open('homework.json', 'r'):
    lines.append(json.loads(line))

In [103]:
data = pd.DataFrame(lines)

In [104]:
data.head()

,emotion_0,emotion_1,emotion_2,emotion_3,emotion_4,emotion_5,emotion_6,emotion_7,emotion_8,emotion_9,headline,summary,worker_id
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,Parenting Lessons From a Partial Eclipse,I don’t do partiality. Maybe it was finally ti...,95524929
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,On Catalonia,Catalan lawmakers declared independence from S...,30266977
2,0.0,0.0,-2,0.0,0.0,0.0,0.0,0.0,0.0,1,A Spark of Romance Under Fluorescent Lighting,"Rose Burlingham, an art dealer and writer, mar...",54197764
3,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1,Apple Removes Apps From China Store That Help ...,The world’s most valuable company appears to h...,41177265
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,Commerce Secretary’s Offshore Ties to Putin ‘C...,"Wilbur Ross, the commerce secretary, retained ...",56518865

In [106]:
data.isnull().sum()

emotion_0    0
emotion_1    0
emotion_2    0
emotion_3    0
emotion_4    0
emotion_5    0
emotion_6    0
emotion_7    0
emotion_8    0
emotion_9    0
headline     0
summary      0
worker_id    0
dtype: int64

In [11]:
data.shape

(93758, 13)

In [105]:
# drop nulls from the data
data = data.dropna()

In [ ]:
# value counts for each column
for c in data.columns:
    print "---- %s ---" % c
    print data[c].value_counts()

In [108]:
# get rid of any string values

data['emotion_0'] = data['emotion_0'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_1'] = data['emotion_1'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_2'] = data['emotion_2'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_3'] = data['emotion_3'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_4'] = data['emotion_4'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_5'] = data['emotion_5'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_6'] = data['emotion_6'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_7'] = data['emotion_7'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_8'] = data['emotion_8'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x)) 
data['emotion_9'] = data['emotion_9'].apply(lambda x: "0.0" if 'cat' in str(x) else("0.0" if 'fnord' in str(x) else x))

In [109]:
data.iloc[:,0:10] = data.iloc[:,0:10].astype("float")

In [ ]:
# boilerplate code for forming bag of words vectors from headlines
import nltk
import numpy
import re
from nltk.corpus import stopwords
set(stopwords.words('english'))

BoW = []
def tokenize(sentences):
    words = []
    for sentence in sentences:
        w = word_extraction(sentence)
        words.extend(w)
        
    words = sorted(list(set(words)))
    return words

def word_extraction(sentence):
    ignore = ['a', "the", "is"]
    words = re.sub("[^\w]", " ",  sentence).split()
    cleaned_text = [w.lower() for w in words if w not in ignore]
    return cleaned_text    
    
def generate_bow(allsentences):    
    vocab = tokenize(allsentences)
    print("Word List for Document \n{0} \n".format(vocab));

    for sentence in allsentences:
        words = word_extraction(sentence)
        bag_vector = numpy.zeros(len(vocab))
        for w in words:
            for i,word in enumerate(vocab):
                if word == w: 
                    bag_vector[i] += 1
                    
        print("{0} \n{1}\n".format(sentence,numpy.array(bag_vector)))
        BoW.append(numpy.array(bag_vector))
        
    
allsentences = data.headline.str.encode('utf-8').sample(1000)

generate_bow(allsentences)

In [111]:
vocab = tokenize(allsentences)

In [ ]:
for i, voc in enumerate(vocab):
    print i, voc

In [112]:
bow_df = pd.DataFrame(BoW)

In [ ]:
bow_w_headlines = pd.concat([allsentences.reset_index(), bow_df], axis=1)
bow_w_headlines2 = bow_w_headlines.merge(data, on='headline', how='left')
bow_w_headlines2 = bow_w_headlines2.dropna()

In [114]:
allsentences.reset_index().head()

   index                                           headline
0  77934  Hugh Freeze Abruptly Resigns as Ole Miss Footb...
1  36043  These Americans Hated the Health Law. Until th...
2  87375  Australia, Apple, Minnesota: Your Thursday Bri...
3  16131  Yankees, Peeking at the Red Sox, Will Soon Get...
4  64344  Trump Lawyer ‘Vehemently’ Denies Russian Collu...

In [135]:
bowshape = bow_w_headlines2.shape[1]

bow_w_headlines2.iloc[:,2:bowshape-2].head()
bow_w_headlines2.iloc[:,2:bowshape-2] = bow_w_headlines2.iloc[:,2:bowshape-2].astype("float")

bow_w_headlines_ft_matrix = bow_w_headlines2.groupby('headline').mean().reset_index()

In [ ]:
bow_w_headlines_ft_matrix = bow_w_headlines2.groupby('headline').mean().reset_index()

In [31]:
bow_w_headlines_ft_matrix.iloc[:,2:3351].head()

,0,1,2,3,4,5,6,7,8,9,...,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
bow_w_headlines_ft_matrix.iloc[:,bow_w_headlines_ft_matrix.shape[1]-10:bow_w_headlines_ft_matrix.shape[1]+10].head()

,emotion_0,emotion_1,emotion_2,emotion_3,emotion_4,emotion_5,emotion_6,emotion_7,emotion_8,emotion_9
0,0.108108,0.091892,0.070270,0.048649,0.113514,0.383784,0.027027,0.172973,0.216216,0.983784
1,0.111111,0.000000,0.000000,0.000000,0.111111,0.333333,0.000000,0.000000,0.555556,1.000000
2,0.070175,0.100877,0.070175,0.039474,0.061404,0.385965,0.039474,0.122807,0.267544,0.982456
3,0.089286,0.107143,0.023810,0.059524,0.119048,0.428571,0.000000,0.125000,0.184524,0.994048
4,0.128440,0.000000,0.091743,0.009174,0.027523,0.660550,0.000000,0.000000,0.155963,0.972477

In [33]:
bowshape = bow_w_headlines2.shape[1]
X = bow_w_headlines_ft_matrix.iloc[:,2:bowshape-2-10]
y = bow_w_headlines_ft_matrix.iloc[:,bowshape-2-10:bowshape-2]

###  Baseline Predictions with Linear Regression Model

In [34]:
from sklearn.model_selection import train_test_split

# Split X and y into X_
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [35]:
from sklearn.linear_model import LinearRegression

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [ ]:
# coefficients("tokens") in bow dataset on regression model
for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[0][idx]))

In [38]:
intercept = regression_model.intercept_[0]

print("The intercept for our model is {}".format(intercept))

The intercept for our model is 0.105749969314

In [39]:
regression_model.score(X_test, y_test)

-0.06679821932023658

In [40]:
from sklearn.metrics import mean_squared_error

y_predict = regression_model.predict(X_test)

regression_model_mse = mean_squared_error(y_predict, y_test)

regression_model_mse

0.02359541855770604

In [41]:
x_test2 =X_test.reset_index()

In [42]:
x_test2.rename(columns={'index':'level_0'}, 
                 inplace=True)

In [43]:
x_test2.head()

,level_0,0,1,2,3,4,5,6,7,8,...,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348
0,496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Comparing headlines and linear regression model predictions

In [49]:
sanity2 = pd.concat([sanity, pd.DataFrame(y_predict)], axis=1)
sanity2.iloc[:,3350:3361].head()

,headline,0,1,2,3,4,5,6,7,8,9
0,The Rohingya in Myanmar: How Years of Strife G...,-0.028614,0.191259,0.021091,0.151993,0.152596,0.426010,-0.014197,0.455976,0.218503,1.012764
1,"Caitlin Henningsen, Russell Rennie",0.105729,0.072688,0.108860,0.037943,0.071093,0.330176,0.057603,0.093333,0.273276,0.972976
2,Angela Merkel Declared Winner of German Electi...,0.080571,0.052986,0.101788,-0.019616,0.197057,0.389021,0.000706,-0.006167,0.271794,0.989934
3,Dozens Feared Dead in Fire at Philippines Mall,0.079687,0.159288,0.009320,0.122406,-0.018139,0.239737,0.082647,0.372581,0.111787,0.952058
4,Tina Howe Copes With Caregiving and Other Late...,0.025736,0.012118,0.145201,0.074175,0.107978,0.315555,0.041515,0.145940,0.269203,1.024831

In [46]:
sanity = x_test2.merge(bow_w_headlines_ft_matrix2, on='level_0', how = 'inner')
sanity.head()

,level_0,0,1,2,3,4,5,6,7,8,...,3340,3341,3342,3343,3344,3345,3346,3347,3348,headline
0,496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,The Rohingya in Myanmar: How Years of Strife G...
1,107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Caitlin Henningsen, Russell Rennie"
2,66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Angela Merkel Declared Winner of German Electi...
3,159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Dozens Feared Dead in Fire at Philippines Mall
4,511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tina Howe Copes With Caregiving and Other Late...

In [45]:
bow_w_headlines_ft_matrix2 = bow_w_headlines_ft_matrix.reset_index()
bow_w_headlines_ft_matrix2 = bow_w_headlines_ft_matrix2[['level_0','headline']]

In [50]:
import math

math.sqrt(regression_model_mse)

0.1536080029090478

In [51]:
data.headline.iloc[5000:5001,].reset_index().headline[0]

u'Obesity Was Rising as Ghana Embraced Fast Food. Then Came KFC.'

In [54]:
unseen_doc = []
sentence = "Obesity Was Rising as Ghana Embraced Fast Food. Then Came KFC."
words = word_extraction(sentence)
bag_vector_sample = numpy.zeros(len(vocab))
for w in words:
    for i,word in enumerate(vocab):
                if word == w: 
                    bag_vector_sample[i] += 1
                    
print("{0} \n{1}\n".format(sentence,numpy.array(bag_vector_sample)))
unseen_doc.append(numpy.array(bag_vector_sample))
unseen_doc = pd.DataFrame(unseen_doc)

Obesity Was Rising as Ghana Embraced Fast Food. Then Came KFC.
[0. 0. 0. ... 0. 0. 0.]

In [55]:
for i in range(len(y.columns.tolist())):
    print y.columns.tolist()[i], ": ", regression_model.predict(unseen_doc).tolist()[0][i]

emotion_0 :  0.200272218448
emotion_1 :  0.0841800243889
emotion_2 :  0.0736660560588
emotion_3 :  0.0596826461061
emotion_4 :  0.0668950896335
emotion_5 :  0.197489272146
emotion_6 :  0.127773610976
emotion_7 :  0.00309720922604
emotion_8 :  0.315987600438
emotion_9 :  0.991675806327

## Predictions on Random Forest Regressor & KNN Regressor

In [73]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

rf = RandomForestRegressor(n_estimators=100, random_state=10)
knn = KNeighborsRegressor()
preds = {}
for model_name, model in zip(['RandomForestRegressor', 'KNearestNeighbors'], [rf, knn]):
    model.fit(X_train, y_train)
    preds[model_name] = model.predict(X_test)

In [74]:
# Evaluating the Algorithm
from sklearn import metrics
for k in preds:
    print("{} performance:".format(k))
    print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, preds[k]))  
    print('Mean Squared Error:', metrics.mean_squared_error(y_test, preds[k]))  
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, preds[k])))
    print " "

KNearestNeighbors performance:
('Mean Absolute Error:', 0.1050682730641888)
('Mean Squared Error:', 0.021858531106878996)
('Root Mean Squared Error:', 0.14784630907425114)

RandomForestRegressor performance:
('Mean Absolute Error:', 0.10012406890983001)
('Mean Squared Error:', 0.020903782940572626)
('Root Mean Squared Error:', 0.14458140592957527)

In [75]:
data.shape

(93758, 13)

In [78]:
sample = np.random.randint(50000,93758)

In [90]:
str(data.headline.iloc[sample:sample+1,].reset_index().headline[0])

'11 Powerful Women We Met Around the World in 2017'

In [91]:
unseen_doc = []
sentence = str(data.headline.iloc[sample:sample+1,].reset_index().headline[0])
words = word_extraction(sentence)
bag_vector_sample = numpy.zeros(len(vocab))
for w in words:
    for i,word in enumerate(vocab):
                if word == w: 
                    bag_vector_sample[i] += 1
                    
print("{0} \n{1}\n".format(sentence,numpy.array(bag_vector_sample)))
unseen_doc.append(numpy.array(bag_vector_sample))
unseen_doc = pd.DataFrame(unseen_doc)

11 Powerful Women We Met Around the World in 2017
[0. 0. 0. ... 0. 0. 0.]

In [92]:
for i in range(len(y.columns.tolist())):
    print y.columns.tolist()[i], ": ", rfc.predict(unseen_doc).tolist()[0][i]

emotion_0 :  0.119060494705
emotion_1 :  0.0167655286866
emotion_2 :  0.0792426110321
emotion_3 :  0.0281758337285
emotion_4 :  0.14484107792
emotion_5 :  0.388476963806
emotion_6 :  0.0172055476529
emotion_7 :  0.0787725225225
emotion_8 :  0.308666311048
emotion_9 :  0.995010589537

In [93]:
for i in range(len(y.columns.tolist())):
    print y.columns.tolist()[i], ": ", knn.predict(unseen_doc).tolist()[0][i]

emotion_0 :  0.110955712663
emotion_1 :  0.0997498302639
emotion_2 :  0.071455697698
emotion_3 :  0.118831554058
emotion_4 :  0.0762347887317
emotion_5 :  0.376408210974
emotion_6 :  0.0202768864336
emotion_7 :  0.136714137638
emotion_8 :  0.214354451496
emotion_9 :  0.987406345846

In [142]:
dict1 = []
for i in range(len(y.columns.tolist())):
    dict1.append(str(y.columns.tolist()[i]) + ","+ str(regression_model.predict(unseen_doc).tolist()[0][i]))

In [152]:
dict2 = pd.DataFrame(dict1)
dict2
dict2 = dict2[0].str.split("," ,expand=True)


#### Linear Regression Model: 
0.02359541855770604
#### KNN : 
0.021858531106878996
#### Random Forest Regressor: 
0.020903782940572626